$primary-color: rgb(245, 245, 245);
$primary-dark-mode: rgb(36, 36, 36);

body{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}
#root{
  width: 100%;
  height: 100%;
}