
#contact-main{
    background-color: rgb(34, 34, 34);
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:20px;
}
#contact-content{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    a, div{
        font-size: 37px;
        color: rgb(214, 214, 214);
        cursor: pointer;
    }
    i{
        &:hover{
            color:rgb(167, 165, 165);
        }
    }
}
.secondary-info{
    color: rgb(94, 94, 94);
    font-size: 0.8rem;
}
.footer-scroll{
    font-family: "Libre Franklin", sans-serif;
    cursor: pointer;
    color: rgb(214, 214, 214);
    &:hover{
        text-decoration: underline;

    }
}

